#login-form {
  width: 280px;
  height: 245px;
  padding: 20px 22px 19px 22px;
}

.heading {
  margin-bottom: 27px !important;
}

.login-field {
  margin-bottom: 25px !important;
}

.login-button {
  width: 91px;
  height: 36px;
}

.membership-field {
  position: absolute;
  width: 265px !important;
  font-size: 12px !important;
  margin-left: 135px !important;
}

.membership {
  margin: 0 !important;
}
