@import '../../styles/_constants.less';

#navbar {
  .primaryGradent();
  position: fixed;
  top: 0;
  display: block;
  height: @navHeight;
  width: 100%;
  z-index: 1000;
  .title {
    color: @white;
    margin-left: 40px;
    font-size: @fsVeryLarge;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;

    span {
      a {
        color: white !important;
        margin-left: 10px;
        font-size: 14px;
      }
    }
  }
}
