@import '../../../styles/_constants.less';

#navbar {
  height: @navHeight;
  background-image: linear-gradient(90deg, @bluePrimary 0%, @blueSecondary 100%);
  border-bottom: 1px solid @someWhackAssGray;
  .title {
    color: @white;
    margin-left: 40px;
    font-size: @fsVeryLarge;
    line-height: @navHeight;
  }
}
