/* General Sizings */
@navHeight: 60px;
@post-sidebar-width: 36px;
@post-sidebar-margin-right: 15px;

/* Font Sizings */
@fsVeryLarge: 32px;

/* Colors */
@bluePrimary: #2185d0;
@blueSecondary: #13caf5;

@appBackground: #f5f5f5;
@linksColor: @bluePrimary;
@buttonPrimary: @bluePrimary;
@starsColor: #ffe622;

@white: #f8ffff;
@black: #000000;
@gray: fade(@black, 40%);

.primaryGradent () {
  background: linear-gradient(90deg, @bluePrimary 0%, @blueSecondary 100%);
}
