#register-container {
  margin-left: 10px !important;
  max-width: 280px !important;
  max-height: 314px !important;
  float: left;
}

#register-form {
  width: 280px;
  height: 245px;
  padding: 20px 22px 19px 22px;
}

.heading {
  margin-bottom: 27px !important;
}

.register-field {
  margin-bottom: 25px !important;
}

.register-button {
  width: 91px;
  height: 36px;
}
