@import '../../styles/_constants.less';
@import '../../styles/global.less';

#app {
  height: 100%;

  a {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }
}

#main-content {
  position: relative;
  top: @navHeight;
  padding: 30px;
}
