@import '../../styles/_constants.less';
@import '../../styles/global.less';

@appPadding: 30px;

#app {
  height: 100%;

  a {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  .ui.inline.loader {
    display: flex;
    align-items: center;
    height: 100%;
    left: 50%;
  }
}

#app-body {
  display: flex;
  position: relative;
  top: @navHeight;
  padding: @appPadding;
  max-width: 1280px;
  margin: auto;
}

#app-main {
  flex: 1 1 auto;
}
