@import '../../styles/_constants.less';
@import '../../styles/global.less';

@sidebarWidth: 280px;

#app {
  height: 100%;

  a {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }
}

#app-body {
  position: relative;
  top: @navHeight;
  padding: 30px;
}

#app-main {
  width: calc(100% - @sidebarWidth - 30px);
}

#app-sidebar {
  position: fixed;
  height: 100%;
  right: 30px;
  top: 90px;
}
